<html>
    <head>
        <title>Handwriten Recognition</title>
        <script
          src="https://code.jquery.com/jquery-3.3.1.min.js"
          integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous"></script>
    </head>
    <body>
        <div style="text-align: center">
            <canvas id="myCanvas" width="200" height="200" style="border:1px solid #000000;">
            </canvas>
        </div>
        <div style="text-align: center;">
            <button id="clearButton" type="button">Clear</button>
        </div>
        <div id="result" style="text-align: center">
            
        </div>  
        <script type="text/javascript">
            var c = document.getElementById("myCanvas");
            var ctx = c.getContext("2d");
            ctx.fillStyle = "white";
            ctx.fillRect(0, 0, c.width, c.height);
            ctx.fillStyle = "black";
            ctx.lineWidth = 5;
            var drawing = false;
            format = function (raw) {
                raw = JSON.parse(raw)
                rtn = "";
                rtn += raw[0][0] + ": " + raw[0][1] + "<br>";
                rtn += raw[1][0] + ": " + raw[1][1] + "<br>";
                rtn += raw[2][0] + ": " + raw[2][1] + "<br>";
                return rtn;
            }
            upload = function () {
                $.ajax({
                    url: "recognition",
                    method: "POST",
                    data: {
                        data: c.toDataURL()
                    },
                    success: function(data) {
                        // console.log(data);
                        $("#result").html(format(data));
                    }
                })
            }
            c.onmousedown = function (event) {
                drawing = true;
                ctx.moveTo(event.offsetX, event.offsetY);
                ctx.beginPath();
            }
            c.onmouseup = function (event) {
                if (!drawing) return;
                drawing = false;
                ctx.lineTo(event.offsetX, event.offsetY);
                ctx.stroke();
                upload();
            }
            c.onmousemove = function (event) {
                if (drawing) {
                    ctx.lineTo(event.offsetX, event.offsetY);
                    ctx.stroke();
                }
            }
            c.onmouseout = c.onmouseup;
            document.getElementById("clearButton").onclick = function() {
                ctx.clearRect(0, 0, c.width, c.height);
                ctx.fillStyle = "white";
                ctx.fillRect(0, 0, c.width, c.height);
                ctx.fillStyle = "black";
            }
        </script>
    </body>
</html>